{% extends 'layout.twig' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block contant %}
    <h1> {{ message }}</h1>
    {% include 'Home/home_input_files.twig' %}
    {% include 'Home/home_files_table.twig' %}

{% endblock %}