{#Input form#}
<div>
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="submitForm" value="true">
        <div>
            <label for="data-file">Input a CSV file</label>
            <input id="data-file" type="file" name="dataFile">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{#Show uploaded files#}