<div>
    <table>
        <tr>
            <th>S.L.</th>
            <th>File Name</th>
            <th>Options</th>
        </tr>
        {% for sl,fileName in files %}
        <tr>
            <td>{{ sl|e }}</td>
            <td>{{ fileName|e }}</td>
            <td>

                &nbsp;<a href="{{ rootUrl|e }}/graph/{{ fileName|e }}">Graph</a>&nbsp;&nbsp;
                <a href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>